    .head{ text-align: center;
         color: purple;
         background-color: ghostwhite;
         
    };

    .container{
         width: 100%;
         margin: 0;
         padding: 0;
    }; 
      
    

    